* {
  box-sizing: border-box;
}
/* html {
  background-color: #f2f2f2;
} */
.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.open-sans-regular {
  font-weight: 400;
}
.open-sans-bold {
  font-weight: 700;
}
.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
body {
  max-width: 1440px;
  background-color: #fff;
  margin-inline: auto;
}
.container {
  max-width: 1280px;
}
h1,
h2,
h3,
p {
  margin: 0;
}
header {
  padding-block-start: 50px;
  padding-inline-start: 80px;
  padding-inline-end: 80px;
  background-color: #edfbff;
  background-image: url(images/bg-hero-desktop.svg);
  max-width: 1440px;
  min-height: 721px;
}
div.flx {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
}
section.flxh {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  row-gap: 54px;
  column-gap: 54px;
  flex-shrink: 1;
  width: 100%;
}
.TryIt {
  text-decoration: none;
  background-color: #fff;
  width: 200px;
  height: 48px;
  border-radius: 24px;
  font-size: 14px;
  line-height: 19px;
  color: rgba(0, 37, 46, 1);
  padding: 13px 64px 16px 64px;
  box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.0954201);
  transition: 0.5s;
}
a.TryIt:hover {
  color: rgba(128, 142, 154, 1);
}
header section {
  margin-block-end: 71px;
}
h1 {
  padding-block-start: 86px;
  margin-block-end: 32px;
  font-size: 40px;
  line-height: 60px;
  color: #00252e;
}
header p {
  margin-block-end: 32px;
  font-size: 18px;
  line-height: 27px;
  color: #00252e;
  max-width: 520px;
}

header div.flx {
  max-width: 1280px;
  height: 48px;
  margin-block-end: 71px;
}
header div {
  width: 536px;
  height: 233px;
  /* margin-inline-end: 54px; */
}
.GetStart {
  text-decoration: none;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  /* padding: 17px 69px 20px 70px; */
  width: 280px;
  height: 56px;
  /* left: 80px;
  top: 518px; */
  background: rgba(255, 82, 193, 1);
  border-radius: 28px;
  box-shadow: 2px 3px 6px 1px rgba(255, 82, 193, 0.166185);
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  padding-inline: 5px;
  transition: 0.5s;
}
a.GetStart:hover {
  background: #ff9adb;
}
header div img {
  max-width: 680px;
}

/* MAIN */
main {
  margin-bottom: 304px;
  padding-top: 160px;
}
main .container {
  max-width: 1232px;
  min-height: 440px;
  padding-inline-start: 120px;
  border: 0px solid #979797;
  border-radius: 16px;
  background: #ffffff;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.07),
    3px 3px 9px rgba(0, 0, 0, 0.0954201);
}
main section {
  padding-inline: 104px;
  padding-block-end: 40px;
}
main .container div {
  max-width: 488px;
  min-height: 139px;
}

h2 {
  margin-block-end: 16px;
}
.v_contejner {
  padding-block-start: 150px;
}
main p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #808e9a;
}
div.flxm {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* FOOTER */

footer {
  position: relative;
  width: 1440px;
  min-height: 418px;
  background: #00252e;
}
footer .container {
  max-width: 1440px;
  min-height: 418px;
  padding: 144px 78px 64px 120px;
  position: relative;
}
footer.div.container {
  position: relative;
}
footer .container ul {
  color: #ffffff;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.Ready {
  margin: 0;
  width: 800px;
  height: 280px;
  position: absolute;
  left: 50%;
  transform: translateY(-65%) translateX(-50%);
  background: #ffffff;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.0710768);
  border-radius: 15px;
}
.Ready p {
  padding: 56px 127px 32px 132px;
  font-size: 32px;
  line-height: 60px;
  color: #00252e;
  transition: 0.5s;
}

footer .Ready a {
  margin: 0;
  text-decoration: none;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  padding: 17px 69px 20px 70px;
  width: 280px;
  height: 56px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 52.86%;
  bottom: 18.57%;
  background: rgba(255, 82, 193, 1);
  box-shadow: 0px 6px 13px rgba(0, 37, 46, 0.223053);
  border-radius: 40px;
}
.mapa {
  background-image: url(./images/znak_mapa.png);
  /* background-position: 4px; */
  background-repeat: no-repeat;
  padding-inline-start: 40px;
}
.tel {
  background-image: url(./images/znak_tel.png);
  background-repeat: no-repeat;
  padding-inline-start: 40px;
  text-decoration: none;
}
.mail {
  background-image: url(./images/znak_mail.png);
  background-repeat: no-repeat;
  padding-inline-start: 40px;
  text-decoration: none;
}
.mail,
.tel {
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}
.verfl {
  display: flex;
  flex-direction: column;
  row-gap: 17px;
}
.foot {
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}
.foot p {
  /* margin-bottom: 17px; */
  width: 379px;
}
div.flxf {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
ul li a {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  color: #ffffff;
}
footer img {
  margin: 0;
  background-color: #00252e;
  margin-bottom: 32px;
}
.nav1 {
  margin-right: 15px;
  line-height: 27px;
}
li:hover {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}
.flxnav {
  display: flex;
  flex-direction: row;
  column-gap: 143px;
}
.socset img {
  margin: 0;
}
div.flxsoo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
footer.container img {
  margin-bottom: 0;
  width: 85px;
}
.ul {
  display: flex;
  column-gap: 12px;
}
.socset ul li a {
  display: inline-block;
  width: 32px;
  height: 32px;
  /* height: 32px; */
  background-repeat: no-repeat;
  background-position: center center;
  transition: 0.5s;
}
.fb {
  background-image: url(./images/fb.png);
  text-indent: -9999px;
}
.tw {
  background-image: url(./images/tw.png);
  text-indent: -9999px;
}
.ins {
  background-image: url(./images/ins.png);
  text-indent: -9999px;
}
.fb:hover {
  background-image: url(./images/fb-h.png);
}
.tw:hover {
  background-image: url(./images/tw-h.png);
}
.ins:hover {
  background-image: url(./images/ins-h.png);
}

span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
  text-align: right;
}
